/* Articulos */


.articulos__main{
    width: 95%;
    margin-top: 15px;
    

    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto;
    grid-template-columns:auto auto ;

    grid-template-areas:
        "izquierda derecha"
        "centro centro"; 
}

.caja__imagen__a{
 grid-area: izquierda;
 text-align: center;
}

.caja__imagen__b{
 grid-area: derecha;
 text-align: center;

 
}

.caja__imagen__c{
 grid-area: centro  ;
 text-align: center;

 display: flex;
 flex-direction: row;
 align-items: center;    
}

.caja__imagen__c__parrafo{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 1rem;
}

 .imagen__b{
   width: 480px;
   height: 620px;
 }
