/* Footer */
  
  /* padre */
  .footer__div {
    display: grid;
    background-color: #6d4a1c;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "ele1 ele1 ."
   ". ele2 ."
   ". . ele3";
     /* hijos */
  &__derechos {
    grid-area: ele1;
  }
  
  &__redes {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    grid-area: ele3;
  }
  
  
  
  }
  // maps

/*$mapa: (
    clave1: valor;
    clave2: valor;
    clave3: valor;

); */

$redes: (

  instagram: violet,
  facebook: #6aa6df  


);

@each $clave,$valor in $redes {
    .footer__redes__a-#{$clave}{
        background-color: $valor;
        border: solid;
    }
    
}
   
