/* Footer */
  
  /* padre */
  .Footer__div {
    display: grid;
    background-color: #6d4a1c;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "ele1 ele1 ."
   ". ele2 ."
   ". . ele3";
  }
  
  /* hijos */
  .footer__derechos {
    grid-area: ele1;
  }
  
  .footer__redes {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    grid-area: ele3;
  }
  
  .footer__instagram {
    border: solid 3px violet;
  }
  
  .footer__facebook {
    background-color: #6aa6df;
    border: solid 3px #6aa6df;
  }