/* formulario de contactanos */
.formulario__contactanos{
    background-color: blanchedalmond;
    padding: 1rem;
  
  }
  .form-check-label{
    color: black;
  }
  /* menu hamburguesa */
  
  .menu__hamburguesa{
    display: none;
  
  }
   .navbar{
     display: none;
   }
   